<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<head>
    	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/css/main.css" />
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		<title>小龙人中文堂</title>
	</head>
	<body>
		<!-- Wrapper -->
			<div id="wrapper">
				<!-- Main -->
					<div id="main">
						<div class="inner">
							<!-- Header -->
								<header id="header">
									<p class="logo" th:text="'你好 ' + ${indexPageInfo.username} + ',小龙人中文堂欢迎您！'">小龙人中文堂欢迎您！</p>
								</header>

							<!-- Banner -->
								<section id="banner">
									<div class="content">
										<header>
											<h2>小龙人秋季班<br/>
											火热招生中！</h2>
											<p>为孩子们开启中文学习的大门。</p>
										</header>
										<p>这里是对小龙人中文堂的简单介绍。</p>
									</div>
									<span class="image object">
										<img src="img/pic10.jpg" alt="" />
									</span>
								</section>

								<!-- Section -->
								<section>
									<div class="posts">
										<article>
											<a href="#" class="image"><img src="img/pic01.jpg" alt="" /></a>
											<h3>小黑板</h3>
											<p>专业的黑板，传统的粉笔。在传统中学习传统的中国。文化，古诗，一个都不能少！</p>
										</article>
										
										<article>
											<a href="#" class="image"><img src="img/pic02.jpg" alt="" /></a>
											<h3>课外活动</h3>
											<p>定期在活动室举行跨班级的活动。既可以向家长汇报学习成果，又可以认识不同年龄的新朋友。</p>
										</article>
										
										<article>
											<a href="#" class="image"><img src="img/pic03.jpg" alt="" /></a>
											<h3>课上练习</h3>
											<p>正是小班授课，才能够实现课上的动手练习。通过亲自动手，加深孩子们的记忆，增加学习成果。</p>
										</article>
										
										<article>
											<a href="#" class="image"><img src="img/pic04.jpg" alt="" /></a>
											<h3>比一比</h3>
											<p>课上，通过我们精心准备的小活动，和身边的小朋友比一比。看谁记得牢，记得准。</p>
										</article>
										
										<article>
											<a href="#" class="image"><img src="img/pic05.jpg" alt="" /></a>
											<h3>图书角</h3>
											<p>精心选择适合于各个年龄段，各个方面的学习资料。既学习基础汉语只是，还扩展相关中国文化。汉语学习不再依靠死记硬背。</p>
										</article>
										
										<article>
											<a href="#" class="image"><img src="img/pic06.jpg" alt="" /></a>
											<h3>汉字练习</h3>
											<p>老师基础好，学生才能学得好。常年书法比赛得奖的老师，才能教出同样字迹娟秀的学生。</p>
										</article>
									</div>
								</section>
						</div>
					</div>

				<!-- Sidebar -->
					<div id="sidebar">
						<div class="inner">
							<!-- Menu -->
								<nav id="menu">
									<header class="major">
										<h2>Menu</h2>
									</header>
									<ul>
										<li><a href="homework">课后练习</a></li>
										<li><a href="studyvideo">视频复习</a></li>
										<li><a href="studygame">寓教于乐</a></li>
										<li><a href="subscript">教材订阅</a></li>
										<li><a href="information">招生信息</a></li>
										<li><a href="/">退出登录</a></li>
									</ul>
								</nav>

							<!-- Section -->
								<section>
									<header class="major">
										<h2>联系我们</h2>
									</header>
									<p>小龙人中文堂致力于为您打造一个专业的少儿汉语学习环境.</p>
									<ul class="contact">
										<li class="fa-envelope-o"><a href="#">xxxx@xiaolongren.jp</a></li>
										<li class="fa-phone">(080) xxxx-yyyy</li>
										<li class="fa-home">东京都江户川区</li>
									</ul>
								</section>

							<!-- Footer -->
								<footer id="footer">
									<p class="copyright">&copy; Xiaolongren Chinese All rights reserved.</p>
								</footer>
						</div>
					</div>
			</div>
		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>

	</body>
</html>